@charset "UTF-8";

#admin_top{  
    width: 100%;  
    height: 10%;  
    padding: 10px;  
  
    position: absolute;  
    left: 0%;  
    top: 2%;   
  
  
    background-color: rgba(0, 150, 220, 0.85);  
  

    text-align: center;  
}  
#admin_logo{
	position :absolute;
	left:27%;
	top:2%;
}
#admin_toptext{
	position:absolute;
	left:32%;
	top:16%;
}
#user_center{
	font-size="24";
	color:#3D3D3D;
	text-decoration:none;
	position: absolute; 
	left:5%;
	top:70%;
}
#exit{
	font-size="24";
	color:#3D3D3D;
	text-decoration:none;
	position: absolute; 
	left:92%;
	top:70%;
}

#admin_left{  
    width: 12%;  
    height: 85% ;
    padding: 5px;  
  
    position: absolute;  
    left: 0%;  
    top:15%;
    
 
    background-color: rgba(240, 250, 220, 0.7);  
   
    text-align: center;  
}  

#btn_main {  
    font-size: 20px;  
    font-family: 宋体;  
  
    width: 120px; 
    height: 30px;
    line-height: 30px; 
    text-align: center;  
  
    color: black;  
    background-color: #6959CD;  
    border-radius: 6px;  
    border: 0;  
    
    float: middle;  
    margin: 5px 0;
}  
#btn_account_control {  
    font-size: 20px;  
    font-family: 宋体;  
  
    width: 120px;   
    height: 30px;  
    line-height:30px;  
    text-align: center;  
  
    color: grey;  
    background-color: #D1EEEE;  
    border-radius: 6px;  
    border: 0;  
    
    float: middle;  
    margin: 5px 0;
}  
#btn_personal_account {  
    font-size: 20px;  
    font-family: 宋体;  
  
    width: 120px;  
    height: 30px;  
    line-height:30px;  
    text-align: center;  
  
    color: grey;  
    background-color: #D1EEEE;  
    border-radius: 6px;  
    border: 0;  
    
    float: middle;  
    margin: 5px 0;
}  
#btn_questions_input {  
    font-size: 20px;  
    font-family: 宋体;  
  
    width: 120px;   
    height: 30px; 
    line-height: 30px;  
    text-align: center;  
  
    color: grey;  
    background-color: #D1EEEE;  
    border-radius: 6px;  
    border: 0;  
    
    float: middle;  
    margin: 5px 0;
}  
#admin_mid{  
    width: 88%; 
    height: 85% ;
    padding: 5px;  
  
    position: absolute;  
    left: 12.5%;  
    top:15%;
    
 
    background-color: rgba(220, 250, 250, 0.5);  
   
    text-align: center;  
}  
.pagination{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
 
  display: -webkit-box;
 
  display: -ms-flexbox;
 
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
 
.pagination__number{
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  color: var(--paginationPageTextColor, inherit);
}
 
.pagination__number:hover{
  text-decoration: none;
}
 
.pagination__number_active{
  font-weight: var(--paginationPageFontWeight, 700);
}
 
.pagination__control_prev{
  margin-left: var(--paginationArrowIndent, 4px);
}
 
.pagination__control_next{
  margin-right: var(--paginationArrowIndent, 4px);
}  

table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:18px;
    color:#333333;
    border-width: 2px;
    border-color: #a9c6c9;
    border-collapse: collapse;
    margin: 0 auto; text-align: center
}
table.altrowstable th {
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}